
.serverTimer{
    background-color: white;
    font-size: 60px;
    position: relative;
    left: 10%;
    top: 40%;
}

.timer{
    background-color: white;
    font-size: 32px;
    position: relative;
    left: 10%;
    top: 40%;
}



.timer_lastGathering {
    background-color: red;
}